.main {
    &__selectForm {
        @include formStyling;
        width: 30rem;
        padding: 1rem 2rem;
       

        span {
            color: $whiteColor;
            font-size: 2rem;
        }
       &__input {
           display: flex;
           justify-content: space-between;
           margin: 2rem 0;

           label {
            color: $whiteColor;
            font-size: 2rem;
            margin-right: 2rem;
        }

            .select {
                width: 10rem;
                height: 3rem;
                border-radius: 5px;
            }

       }
    }
}

@media (max-width: 321px) {
    .main {
        &__selectForm {
            width: 50rem;
            height: 30rem;

            span {
                font-size: 4rem;
            }

            label {
                font-size: 4rem;
            }

            .select {
                width: 12rem;
                height: 5rem;
            }
        }
    }
}

@media (min-width: 322px) and (max-width: 426px) {
    .main {
        &__selectForm {
            width: 50rem;
            height: 30rem;

            span {
                font-size: 4rem;
            }

            label {
                font-size: 4rem;
            }

            .select {
                width: 12rem;
                height: 5rem;
            }
        }
    }
  }

  @media (min-width: 427px) and (max-width: 769px) {
    .main {
        &__selectForm {
            width: 50rem;
            height: 30rem;

            span {
                font-size: 4rem;
            }

            label {
                font-size: 4rem;
            }

            .select {
                width: 12rem;
                height: 5rem;
            }
        }
    }
  }