.main {
    max-width: 100vw;
    height: 80vh;
    background: linear-gradient($primaryColorDark, $primaryColorLight);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h1 {
        color: $whiteColor;
        font-size: 5rem;
    }

   &__exchange {
       width: 50rem;
       margin: 3rem 0;
       padding: 1rem;
       display: flex;
       justify-content: space-between;
      

       h2 {
           font-size: 2rem;;
           color: $whiteColor;
           align-self: center;
       }
       span {
        font-size: 2rem;;
        color: $whiteColor;
        align-self: center;
       }
   }
}

@media (max-width: 321px) {
    .main {
        h1 {
            font-size: 8rem;
        }

        &__exchange {
            h2 {
                font-size: 3rem;
            }

            span {
                font-size: 3rem;
            }
        }
    }
  }

  @media (min-width: 322px) and (max-width: 426px) {
    .main {
        h1 {
            font-size: 8rem;
        }

        &__exchange {
            h2 {
                font-size: 3rem;
            }

            span {
                font-size: 3rem;
            }
        }
    }
  }

  @media (min-width: 427px) and (max-width: 769px) {
    .main {
        h1 {
            font-size: 8rem;
        }

        &__exchange {
            h2 {
                font-size: 3rem;
            }

            span {
                font-size: 3rem;
            }
        }
    }
  }